@import "fonts";
@import "rouge-github";

body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#727272;
  font-weight:400;
}

h1, h2, h3, h4, h5, h6 {
  color:#222;
  margin:0 0 20px;
}

p, ul, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#267CB9;
  text-decoration:none;
}

a:hover, a:focus {
  color:#069;
  font-weight: bold;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  width:860px;
  margin:0 auto;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color:#444;
  font-weight:700;
}

th {
  color:#444;
}

img {
  max-width:100%;
}

.logo {
  width:266px;
  border: 2px solid #bf9900;
  border-radius: 4px;
}

kbd {
  background-color: #fafbfc;
  border: 1px solid #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #959da5;
  color: #444d56;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

header {
  width:270px;
  position: fixed;
  overflow: auto;
  -webkit-font-smoothing:subpixel-antialiased;
}

.title {
  text-align: center;
}

.space-below {
  margin:  0px  0px 36px 0px;
}

.space-above {
  margin:  36px  0px 0px 0px;
}

/* Button-Stil */
button.sale {
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  border: 2px solid #bf9900;
  border-radius: 4px;
  background-color: #D4AA00;
  transition: background-color 0.3s ease;
  margin: 10px;
  width: 250px;
  a {
    color: white;
    img  {
      color: white;
    }
    }
}

/* Hover-Effekt */
button.sale:hover {
  background-color: #d4aa00bd;
}

ul.downloads {
  list-style:none; // unterdrueckt Aufzaehlungszeichen
  height:40px;
  /*padding:0;*/
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:50%;
}

.downloads li {
  float:left;
  border-right:1px solid #e0e0e0;
  height:40px;
}

.downloads li:first-child a {
  width:60%;
  border-radius:5px 0 0 5px;
}

.downloads li:last-child a {
  width:40%;
  border-radius:0 5px 5px 0;
}

.downloads a {
  line-height:1;
  font-size:11px;
  color:#676767;
  display:block;
  text-align:center;
  padding-top:6px;
  height:34px;
}

.downloads a:hover, .downloads a:focus {
  color:#675C5C;
  font-weight:bold;
}

.downloads ul a:active {
  background-color:#f0f0f0;
}

strong {
  color:#222;
  font-weight:700;
}

.downloads li + li + li {
  border-right:none;
  width:89px;
}

.downloads a strong {
  font-size:14px;
  display:block;
  color:#222;
}

section {
  width:500px;
  float:right;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

@media print, screen and (max-width: 960px) {

  div.wrapper {
    width:auto;
    margin:0;
    text-align:center;
  }

  header, section, footer {
    float:none;
    position:static;
    width:auto;
    padding:  0px  0px 60px 0px;
    -webkit-font-smoothing:subpixel-antialiased;
  }

} 

@media print, screen and (max-width: 600px) {
  body {
    word-wrap:break-word;
  }

  pre, code {
    word-wrap:normal;
  }
}

@media print, screen and (max-width: 480px) {
  body {
    padding:15px;
  }

  .downloads {
    width:99%;
  }

  .downloads li, .downloads li + li + li {
    width:33%;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}

// --------------------------------------

/* Container style */
.container-author {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  align-items: center;
}

/* Avatar style */
.avatar {
  width: 50px; /* Adjust the size as needed */
  height: 50px;
  border: 2px solid #bf9900;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text container style */
.text-container {
  flex-grow: 1;
  justify-content: center;
}

/* Name and job description style */
.name {
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.job-description {
  font-size: 14px;
  display: flex;
  justify-content: center;
}

/* Social icons style */
.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons a {
  display: inline-block;
  margin: 0px 3px;
  text-decoration: none;
}

.social-icons img {
  width: 20px; /* Adjust the size of social icons */
  height: 20px;
  opacity: 0.7;
}

.social-icons a:hover img {
  transform: scale(1.2); /* Adjust the scale factor for the desired hover effect */
}
